h3 a {
  color: rgb(167, 86, 86);
}

h2 {
  font-weight: 600;
  text-transform: uppercase;
}

button {
  background-color: lightseagreen;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
